* {
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #5D5D5D;
}

.main {
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #FFF;
  font-size: 13px;

  a {
    color: #009FBC;
  }
}
.clear {
  clear: both;
}