
.header {
  background: #1d1d1d url(pattern.png) repeat;
  border-bottom: 2px solid #E7746F;
  height: 177px;
  margin-right: auto;
  margin-left: auto;


  .wap-head-inside {
    width: 880px;
    height: 177px;
    margin-left: auto;
    margin-right: auto;


    .logo {
      height: 140px;
      background: transparent;

      .logo-text {

        h1 {
          padding-top: 40px;
          width: 284px;
          height: 35px;
          color: #E7746F;
          letter-spacing: 3px;
          font: normal 17px 'trebuchet ms', arial, sans-serif;


          a {
            outline: none;
            text-decoration: none;
            color: white;
            font-size: 40px;

            span {
              color: #E7746F;

              &:hover {
                color: white;
              }
            }
          }
        }

        h2 {
          color: white;
          font: normal 15px 'trebuchet ms', arial, sans-serif;
          float: left;
        }
      }
    }

    .menubar {
      height: 35px;
      float: right;


      ul.menu {
        text-align: center;
        float: right;
        margin: auto;

        li {
          width: 120px;
          list-style: none;
          display: inline-block;
          height: 30px;
          float: left;
          margin-right: 20px;
          text-decoration: none;
          font-size: 13px;
          background-color: transparent;
          align-content: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          &:hover {
            background-color: #E7746F;

            a {
              padding: 5px 0 5px 0;
              text-align: center;
              text-decoration: none;
              color: white;
            }
          }

          a {
            color: white;
            text-decoration: none;
          }

          &.selected {
            background-color: #E7746F;
          }
        }
      }

    }
  }
}

